body{
  overflow: hidden;
  user-select: none;
}

.headerApp{
  height: 2rem;
  line-height: 2rem;
  border-bottom: 0.05rem solid #ccc;
  background: #E6E6E6;
  color: #444;
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1;
  border-top-left-radius: 0.4rem;
  border-top-right-radius: 0.4rem;
  background-clip: padding-box;
  font-family: -apple-system,BlinkMacSystemFont,Helvetica,Arial,sans-serif,"Apple Color Emoji";
  text-align: center;
  z-index: 40;
}

.handlerMoveDrag{
  position: absolute;
  width: 100%;
  height: 100%;
  cursor: move;
  top: 0;
  z-index: 20;
}

.headerApp h1{
  font-size: 1.2rem;
  margin: 0;
  padding: 0;
  line-height: 2rem;
  font-weight: normal;
  color: #444;
  text-align: center;
  user-select: none;
}

.headerApp .right{
  float: right;
  margin-right: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  color: black;
}

.headerApp .right button{
  background: #fff;
  border: 0.05rem solid #ccc;
  cursor: pointer;
}

.headerApp .right button:hover{
  background: #ccc;
  border: 0.05rem solid #555;
}

.iconApp--medium{
  width: 4rem !important;
  height: 4rem !important;
}

.iconApp--small{
  width: 2rem !important;
  height: 2rem !important;
}

.iconApp--small .titleApp{
  width: 2rem !important;
  height: 2rem !important;
  font-size: 0.7rem !important;
  top: 30px !important;
}

.iconApp--largue .titleApp{
  font-size: 1.1rem !important;
  top: 45px !important;
}

.iconApp--largue{
  width: 4.5rem !important;
  height: 4.5rem !important;
}

.iconApp{
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  top: 0.5rem;
  z-index: 0;
  cursor: pointer;
  margin-top: 40px;
}

.iconApp:hover{
  filter: brightness(0.8);
}

.iconApp img{
  width: 100%;
  height: 100%;
  user-select: none;
}

.iconApp::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.appsDesktop{
  position: fixed;
  top: 0;
  left: 20px;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.glass{
  background: rgba(255, 255, 255, 0.11);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.5px);
  -webkit-backdrop-filter: blur(7.5px);
  border: 1px solid rgba(255, 255, 255, 0.43);
}

.fixedApp{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: transparent;
}

.OpenAppAnimation{
  transform: scale(1);
  z-index: 100000;
  animation: openAppAnimation 1s ease;
}

.CloseAppAnimation{
  transform: scale(0);
}

@keyframes openAppAnimation {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

.MimizeApp{
  animation: MimizeApp 1s ease;
  transform: scale(0);
}

@keyframes MimizeApp {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0);
  }
}

.iconApp .titleApp{
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  color: #fff;
  user-select: none;
}

.timeHours{
  position: fixed;
  top: -40%;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 15;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  text-shadow: 0 0 0.1rem #000;
  color: #fff;
  user-select: none;
  pointer-events: none;
  z-index: 10;
}

.leftAside{
  position: fixed;
  bottom: 8px;
  left: 50%;
  max-width: 1200px;
  width: calc(100% - 80px);
  height: 65px;
  z-index: 500;
  font-size: 5rem;
  display: flex;
  transform: translate(-50%);
  text-shadow: 0 0 0.1rem #000;
  color: #fff;
  user-select: none;
  z-index: 20;
}

.appBlock{
  top: -25px;
  transition: 0.4s ease-in;
}

.appBlock:hover{
  transform: scale(1.1);
  margin-top: -3px;
}

.displayBlock{
  display: inline-block;
  position: relative;
  z-index: 15;
  width: 60px !important;
  height: 60px !important;
  margin-left: 10px;
  margin-top: 5px;
  float: left;
}

.displayBlock img{
  object-fit: cover;
}

.selectMimizeApp{
  position: absolute;
  margin-top: -15px;
  margin-left: 17px;
  width: 25px;
  height: 10px;
  z-index: 1;
  background-color: #fff;
  box-shadow: rgb(40 40 40);
  border-radius: 2px;
}

.moreOptionsClickDireito{
  position: fixed;
  width: fit-content;
  height: fit-content;
  font-size: 14px;
  left: 70px;
  list-style: none;
  z-index: 100;
  animation: openAppAnimationMore 1s ease;
}

.moreOptionsClickDireito--Ajustes{
  position: fixed;
  width: fit-content;
  height: fit-content;
  background-color: white;
  font-size: 14px;
  list-style: none;
  border: 1px solid rgba(0,0,0,.40);
  animation: openAppAnimationMore 1s ease;
  z-index: 1000;
  width: 250px;
}

.moreOptionsClickDireito--Ajustes li{
  z-index: 1000;
  position: relative;
  cursor: pointer;
  padding: 5px;
  z-index: 10;
}

.moreOptionsClickDireito--Ajustes li:hover{
  background-color: #ccc;
}

.moreOptionsClickDireito--Ajustes li i{
  position: absolute;
  top: 6px;
  right: 20px;
  font-size: 1rem;
  color: #555;
  z-index: -1;
}

.moreOptionsClickDireito--Ajustes .rightPanel{
  position: absolute;
  top: -1px;
  left: 100%;
  width: fit-content;
  height: fit-content;
  background-color: #fff;
  z-index: 1;
  font-size: 1rem;
  color: #555;
  user-select: none;
  border: 1px solid rgba(0,0,0,.40);
  z-index: 100;
  width: 165px;
}

.moreOptionsClickDireito--Ajustes .rightPanel .activeLi{
  list-style: outside;
}

.moreOptionsClickDireito--Ajustes .rightPanel li:hover{
  background-color: #ccc;
}

.moreOptionsClickDireito li{
  z-index: 1000;
  position: relative;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
  z-index: 100;
}

@keyframes openAppAnimationMore {
  0% {
    opacity: 0;
    transform: scale(0.8) translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: scale(1)  translateX(0px);
  }
}

.moreOptionsClickDireito i{
  font-size: 14px;
  margin: 6px;
}

.close{
  position: fixed;
  width: 100vh;
  height: 100vh;
  background: transparent;
  left: 0;
  top: 0;
  z-index: 10;
  transform: scale(20);
}

.card-body{
  width: 200px;
  height: 400px;
  display: flex;
}

.card-body img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.card-body .row{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin-top: 40px;
  position: fixed;
  height: 470px;
  overflow: auto;
}

hr{
  width: 90%;
  margin-top: 20px;
  border: 1px solid #555;
}

.card-body h2{
  font-size: 1.2rem;
  font-weight: 300;
  font-display: swap;
  font-variant: small-caps;
  color: #fff;
  text-shadow: 0 0 0.1rem #000;
  width: 100%;
}

.javascript{
  color: #efd81d;
}

.python{
  color: #29689e;
}

.csharp{
  color: #964d91;
  text-shadow: 0 0 0.1rem #eee;
}

.github{
  color: #215084;
  text-decoration: none;
  text-shadow: 0 0 0.1rem #eee;
  text-indent: 0%;
}

.github:hover{
  text-decoration: underline;
}

.arrow{
  position: absolute;
  top: 200px;
  color: white;
  z-index: 100;
  transform: scale(2);
  padding: 10px;
  cursor: pointer;
  transition: 0.4s ease;
}

.arrow:hover{
  transform: scale(2.2);
}

.arrowRight{
  float: right;
  right: 25px;
}

.wallpaper-container{
  position: relative;
  width: calc(100%);
  height: 240px;
  margin: 10px;
  padding: 20px;
  display: flex;
  transition: 0.4s ease;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: center;
  align-items: baseline;
  left: 20px;
  margin-left: -50px;
  margin-top: 0px;
  padding-top: 0px;
}

.wallpaper-container img{
  width: 100%;
  height: 100%;
  margin-left: 5px;
  float: left;
  object-fit: cover;
  border-radius: 3px;
  cursor: pointer;
}

.hai{
  width: calc(100% - 90px);
  height: 100%;
  background: #fff;
  border-radius: 0px;
  position: fixed;
  overflow: auto;
  padding: 30px;
}

.selected{
  border: 2px solid #0c0c0c;
  transform: scale(1.1);
  margin-left: 40px !important;
  margin-right: 40px !important;
}